
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}
.sidebar {
    width: 250px;
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}
.profile-pic {
    width: 100%;
    border-radius: 10px;
}
.contact {
    margin-top: 20px;
}
.icon {
    display: block;
    margin: 5px 0;
}
.main {
    flex: 1;
    padding: 30px;
}
nav a {
    margin-right: 15px;
}

/* adjust the gap between papers*/
.working-papers li {
    margin-bottom: 15px;
}

/* adjust the gap between paper and R&R note */
.rr-note {
    margin-top: 6px; 
}
