
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}
.sidebar {
    width: 250px;
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}
.profile-pic {
    width: 100%;
    border-radius: 10px;
}
.contact {
    margin-top: 20px;
}
.icon {
    display: block;
    margin: 5px 0;
}
.main {
    flex: 1;
    padding: 30px;
}
nav a {
    margin-right: 15px;
}

/* adjust fontsize for heading*/
.heading {
    font-size: 22px;
    margin-top: 40px;
}

/* adjust the gap between papers*/
.working-papers li {
    margin-bottom: 15px;
}

/* adjust the gap between paper and R&R note */
.rr-note li {
    padding-top: 15px; 
}

.evaluation li:first-child {
    margin-top: 15px;
}

/* For phone view */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .main {
        padding: 15px;
    }

    nav a {
        display: inline-block;
        margin: 5px;
    }

    .profile-pic {
        width: 150px;
        max-width: 80%;
    }
}

